.fbody{
    background-color: aqua;
    height: 200px;
    width: 300px;
    
}

.fcontent{
    background-color: rgb(14, 15, 109);
    height: 200px;
    // margin-top: 10px;
    margin-bottom: 20px;
    gap: 10px;
}

.fb{
    flex-grow: 1;
   
}