.ubody{
    
    
    background-color: #e9ecef;
}

.uhead{
    font-size: 25px;
    padding-left: 40px;
    font-weight: 600;
    color: #1b5ca0;
}


.textbox{
    margin-left: 25px;
    margin-top: 20px;
}
textarea{
    width: 250px;
    columns: 55;
    padding-top: 10px;
    padding-left:10px;
    border-radius: 15px;
}