.ebody{
    height: 220px;
    width: 400px;
    position: absolute;
    margin-left: 500px;
    margin-top: 380px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #F7F8F9;
}

.content p{
    font-size: 25px;
    padding-left: 95px;
    font-weight: 600;
    color: #1b5ca0;
}

.iconh{
    margin-top: 147px;
    height: 30px;
    background-color:#cecece;
    border-radius: 15px;
}
