.nav {
    background-color: #2e5ae8;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 1;
}
h3 {
    font-family: revert;
}
.micons {
    cursor: pointer;
}
.ebtn {
    display: flex;
    justify-content: end;
}
.ebutton {
    height: 40px;
    width: 100px;
    border-radius: 20px;
}
.etitle {
    display: flex;
    margin-bottom: 20px;
    font-weight: 500;
}
.einput {
    margin-left: 20px;
    font-size: medium;
    padding: 5px;
    height: 32px;
    border-radius: 2px;
    border-width: 1px;
    line-height: 30px;
}
.left {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}
.search {
    margin-right: 10px;
}
.inputs {
    border-radius: 20px;
    background-color: #f2efef;
    width: 300px;
    height: 20px;
    border-color: 1px white;
}
.right {
    display: flex;
    align-items: center;
}
.user {
    margin-left: auto;
}
.react-daterange-picker_day {
    height: 35px;
    margin-left: 20px;
    border-radius: 50px;
}
@media only screen and (max-width: 480px) {
    .nav {
        background-color: #2e5ae8;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
   }
    .left {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
   }
    .search {
        margin-right: 10px;
   }
    .inputs {
        border-radius: 20px;
        background-color: #f2efef;
        width: 200px;
        height: 20px;
        border-color: 1px white;
   }
    .right {
        display: flex;
        align-items: center;
   }
    .user {
        margin-left: auto;
   }
    .scal {
        position: fixed;
   }
}
