.nav {
    background-color: #2e5ae8;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
   margin: auto;

}
.left{
    display: flex;
}

.inputs {
    border-radius: 20px;
    background-color: #F2EFEF;
    width: 300px;
    height: 20px;
    border-color: 1px white;
    margin-left: 20px;
}

.user {
    margin-left:auto;
}

.search {
    margin-left: 460px;
}

@media only screen and (max-width: 720px) {

    .nav {
        background-color: #2aa069;
        height: 70px;
       
        align-items: center;
        display: flex;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 1;

    }

    .inputs {
        border-radius: 20px;
        background-color: #F2EFEF;
        width: 250px;
        height: 20px;
        border-color: 1px white;
        position: fixed;
        margin-left: 50px;
        
    }
    .user {
        margin-left: 100px;
    }
    .search {
        margin-left: 120px;
    
    }

}

@media only screen and (max-width: 480px) {

    .nav {
        background-color: #7021a5;
        height: 70px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
        margin: auto;

    }
    .left{
        display: flex;
    }

    .inputs {
        border-radius: 20px;
        background-color: #F2EFEF;
        width: 150px;
        height: 20px;
        border-color: 1px white;
        margin-left: 10px;
    }
    .user {
        margin-left: 180px;
    }
    .search {
        margin-left: -40px;
    }
    .left{
        margin: auto;
    }

}