.drange {
    margin-left: 20px;
}
.trange {
    margin-left: 20px;
}
.MuiFormControl-root-MuiTextField-root {
    margin-left: 20px;
}
#r5 {
    height: 20px;
}
.dropdown {
    height: 35px;
}
.hbody {
    background-color: aqua;
}
.ibody {
    background-color: bisque;
}
.mbody {
    background-color: gray;
}
.vbody {
    background-color: #0f0;
}
.close {
    margin-left: 900px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}
.dropdown {
    margin-bottom: 10px;
}
.modbody {
    position: relative;
}
