.cbody{
    background-color:  #ffffff;
    height: 400px;
    width: 380px;
}

.calendar{
    margin-top: 60px;
    margin-left: 10px;
    width: 300px;
    position:absolute;
}

.drawer{
    width: 400px;
    height: 600px;
}